---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
<head>
<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
<Header title={SITE_TITLE} />
<main>
    <h1>💻 Hello, Hackers!</h1>
    <p>
        Welcome to my blog! My name is Baha Eddine, and I'm a 23-year-old software engineer from Algeria. I'm passionate about all things related to software engineering, and I'm excited to share my knowledge and experience with you through this blog.
    </p>
    <p>
        As a software engineer, I have a deep understanding of the technical aspects of software development, including programming languages, software design, and development methodologies. But more than that, I'm also interested in the broader implications of software engineering, such as its impact on society, the ethical considerations involved in software development, and the future of technology.
    </p>
    <p>
        Through my blog, I'll be sharing my thoughts and insights on these topics and more, with the aim of creating a community of like-minded individuals who are passionate about software engineering and technology. Whether you're an experienced software developer or just starting out, I hope you'll find something of value on this site.
    </p>
    <p>
        In addition to my blog posts, I'll also be sharing tutorials, code snippets, and other resources that I think will be useful to anyone interested in software engineering. And if you have any questions or suggestions for topics you'd like me to cover, please don't hesitate to get in touch.
    </p>
    <p>
        Thank you for visiting my blog, and I hope you'll find it informative and engaging!
    </p>
</main>
<Footer />
</body>
</html>
